@model ComicBookGallery.Models.ComicBook
@{
    @*initially we had the following line of code here "Layout = "~/Views/Shared/_Layout.cshtml";", but it was removed because the Layout is now being rendered to every view page via
        the _ViewStart.cshtml file in the Views folder, so we don't have to add the layout to each page separately.*@
ViewBag.Title = Model.DisplayText;
ViewBag.ShowBackBar = true;
}

<h2>@Model.DisplayText</h2>

<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h5><label>Series Title:</label> @Model.SeriesTitle</h5>
            <h5><label>Issue #:</label> @Model.IssueNumber</h5>
            <h5><label>Favorite:</label> @(Model.Favorite ? "Yes" : "No")</h5>
            @if (Model.Artists.Length > 0)
        {
            <h5>Artists</h5>
            <div>
                <ul>
                    @foreach (var artist in Model.Artists)
                {
                    //reference the artist object properies Role and Name to render them to the view
                    <li>@artist.Role: @artist.Name</li>
                }
                </ul>
            </div>
        }
        </div>
        <h5>Description</h5>
        <div>@Html.Raw(Model.DescriptionHtml)</div>
    </div>
    <div class="col-md-6">
        <img src="/Images/@Model.CoverImageFileName"
             alt="@Model.DisplayText" class="img-responsive" />
    </div>
</div>



